{{!-- Plant add/edit form --}}
<div class="form-item">
    <label>Plant Name</label>
    <input type="text" name="name" />
</div>
<div class="form-item">
    <label>Plant Variant</label>
    <input type="text" name="variant" />
    <span>This could be the colour or the latin name</span>
</div>
<div class="form-item">
    <label>Price</label>
    <input type="text" name="price" />
</div>
<div class="form-item">
    <label>Plant Deal</label>
    <input type="text" name="deal" />
</div>
<div class="form-item">
    <label>Plant form</label>
    <input type="text" name="form" />
    <span>Eg tray, pot, etc.</span>
</div>
<div class="form-item">
    <label>Stock Level</label>
    <input type="text" name="level" />
</div>
<div class="form-item">
    <label>Stock Location</label>
    <input type="text" name="location" />
</div>
<button type="submit" class="btn-wide">Submit</button>