<div class="container center-content">
    <div class="panel error-panel">
        <h1>500</h1>
        <h2>The server just imploded.</h2>
        <a href="/" class="btn-wide">Return home</a>
    </div>
</div>