<div class="container center-content">
    <div class="search-options">
        <div class="panel choice">
            <h3>Search for a plant</h3>
            <form action="search.html" method="GET">
                <input type="text" class="search-bar" placeholder="Geranium" />
                <button type="submit" class="btn-wide">
                    <i class="fas fa-search"></i> Search</button>
            </form>
        </div>
        <div class="panel choice">
            <h3>View all plants</h3>
            <a class="btn-wide" href="#">
                <i class="fas fa-th"></i> View</a>
            <p>Just something about plants.</p>
        </div>
    </div>
</div>